@media (max-width: 575.98px) {

    .imgdiv{
        width: 100%;
    }
 }
 @media (min-width: 576px) and (max-width: 1199.98px)  {

    .imgdiv{
        width: 36%;
        padding: 0;
        margin: 0;
        display: inline;
    }
 }
 @media (min-width: 1200px) {
    .imgdiv{
        width: 50%;
        padding: 0;
        margin: 0;

    }   
 }